:root {
   --primary-text-color: #212121;
   --secondary-text-color: #757575;
   --title-text-color: #000000;
   --accent-text-color: #2196f3;
   --main-background: #ffffff;
   --contrast-text: #ffffff;
   --secondary-background-one: #2f303a;
   --secondary-background-two: #f5f4fa;
   --typical-padding-ident: 94px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
}

ul {
   margin: 0;
   padding-left: 0;
}

body {
   background-color: var(--main-background);

   color: var(--primary-text-color);
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
}

/* ----------header---------- */
.header {
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: #ececec;
}

.header-menu {
   display: flex;
   align-items: center;
}

.header .container {
   display: flex;
   align-items: center;
}

.container {
   width: 1200px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
   /*outline: 1px solid red;*/
}

/* ----------Logo---------- */
.top-logo {
   margin-right: 93px;

   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   color: var(--primary-text-color);

   text-decoration: none;
}

.first-part-logo {
   color: var(--accent-text-color);
}

.top-logo:hover,
.top-logo:focus,
.bottom-logo:hover,
.bottom-logo:focus {
   color: var(--accent-text-color);
}

.top-logo:focus-visible,
.bottom-logo:focus-visible {
   outline: 2px solid var(--accent-text-color);
}

/* ----------Navigation + Contacts + Footer---------- */
.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus,
.footer .link:hover,
.footer .link:focus {
   color: var(--accent-text-color);
}

.site-nav .link:focus-visible,
.contacts .link:focus-visible,
.footer .link:focus-visible {
   outline: 2px solid var(--accent-text-color);
}

/* ----------Navigation---------- */
.site-nav {
   display: flex;

   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
}

.site-nav .link {
   color: var(--primary-text-color);
}

.site-nav .link.current {
   color: var(--accent-text-color);
}

.site-nav-item:not(:last-child) {
   margin-right: 40px;
}

.list {
   list-style: none;
}

.header .link {
   display: block;
   padding: 32px 0;
}

.link {
   text-decoration: none;
}

/*----------Contacts----------*/
.contacts {
   display: flex;
   margin-left: auto;
}

.contacts .link {
   color: var(--secondary-text-color);

   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
}

.contacts-item:not(:last-child) {
   margin-right: 50px;
}

/* ----------effective solutions---------- */
.hero {
   padding-top: 200px;
   padding-bottom: 200px;

   background-color: var(--secondary-background-one);
}

.hero-title {
   max-width: 696px;
   margin: 0 auto;
   margin-bottom: 30px;

   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;

   color: var(--contrast-text);
}

.button {
   cursor: pointer;

   background-color: var(--accent-text-color);
   border: 2px solid var(--accent-text-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   color: var(--contrast-text);
   margin: 0 auto;
   padding: 10px 32px;

   font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;
}

.button:hover,
.button:focus {
   background: #188ce8;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
}

.button:focus-visible {
   outline: 1px solid #188ce8;
}

/* ----------Our benefits---------- */
.benefits {
   padding-top: var(--typical-padding-ident);
   padding-bottom: var(--typical-padding-ident);
}

.benefits .benefits-hide-title {
   width: 1px;
   height: 1px;
   overflow: hidden;
   opacity: 0;
   margin: -1px;
}

.title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   text-align: center;
}

.benefits-title {
   margin-bottom: 10px;

   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   text-transform: uppercase;
}

.benefits .list {
   display: flex;
   margin-left: 0px;
}

.benefits-item {
   width: 270px;
}

.benefits-item:not(:last-child) {
   margin-right: 30px;
}

.benefits-text {
   font-weight: 400;
   font-size: 14px;
   line-height: 2;

   color: var(--secondary-text-color);
}

/* ----------What we do---------- */
.activity {
   padding-bottom: var(--typical-padding-ident);
}

.activity .title {
   margin-bottom: 50px;
}

.activity .list {
   display: flex;
   margin: -15px;
}

.activity-item {
   margin: 15px;
}

img {
   display: block;
}

/* ----------Our team---------- */
.team {
   padding-top: var(--typical-padding-ident);
   padding-bottom: var(--typical-padding-ident);

   background-color: var(--secondary-background-two);
}

.team .title {
   margin-bottom: 50px;
}

.team .list {
   display: flex;
}

.team-item {
   background: var(--main-background);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
   margin-right: 30px;
}

.identification {
   padding: 30px 0;
}

.team-surname {
   margin-bottom: 10px;

   font-size: 16px;
   line-height: 1.19;
   text-align: center;
}

.team-specialty {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.19;
   text-align: center;

   color: var(--secondary-text-color);
}

/* ----------Footer---------- */
.footer {
   padding-top: 60px;
   padding-bottom: 60px;

   background-color: var(--secondary-background-one);
}

.bottom-logo {
   display: inline-block;
   margin-bottom: 20px;

   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   color: var(--contrast-text);

   text-decoration: none;
}

.adress {
   margin-bottom: 9px;

   font-weight: 400;
   font-style: normal;
   font-size: 14px;
   line-height: 2;
   color: var(--contrast-text);
}

.footer .link {
   font-size: 14px;
   line-height: 2;
   color: rgba(255, 255, 255, 0.6);
}

.footer .mail {
   display: inline-block;
   margin-bottom: 9px;
}

/* ----------Portfolio---------- */
.portfolio {
   padding-top: var(--typical-padding-ident);
   padding-bottom: var(--typical-padding-ident);

   background-color: var(--main-background);
}

.portfolio-title {
   width: 1px;
   height: 1px;
   overflow: hidden;
   opacity: 0;
   margin: -1px;
}

/* ----------Filter---------- */
.gallery {
   display: flex;
   margin-bottom: 50px;
   justify-content: center;
}

.gallery-item:not(:last-child) {
   margin-right: 8px;
}

.filter {
   border-radius: 4px;
   border: none;
   padding: 6px 22px;
   margin: 0 auto;

   font-family: inherit;
   font-size: 16px;
   line-height: 1.63;
   text-align: center;
}

.filter.current {
   background-color: var(--accent-text-color);
   outline: var(--accent-text-color);
   color: var(--contrast-text);
}

.filter:hover,
.filter:focus {
   background-color: var(--accent-text-color);
   outline: var(--accent-text-color);
   color: var(--contrast-text);
}

.filter:focus-visible {
   outline: 1px solid #188ce8;
}

/* ----------Gallery---------- */
.gallery-list {
   display: flex;
   flex-wrap: wrap;
   margin: -15px;
}

.gallery-list-item {
   width: 370px;
   margin: 15px;
}

.caption {
   max-width: 370px;

   padding: 20px 24px;

   border-right-width: 1px;
   border-right-style: solid;
   border-right-color: #eeeeee;
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: #eeeeee;
   border-left-width: 1px;
   border-left-style: solid;
   border-left-color: #eeeeee;
}

.gallery-title {
   margin-bottom: 4px;

   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
}

.gallery-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.88;

   color: var(--secondary-text-color);
}
